<div class="createpost">
<h2>New comment</h2>
<div class="form-input">
<%= form_with model: @comments, url: comment_path do |form| %>
  <%= form.text_field :text %>
</div>
<a class="createpost-btn">
  <%= form.submit "Post Comment" %>
  </a>
<% end %>
</div>